<% content_for :slider do %>
  <%= render "layouts/slider" %>
<% end %>
<% content_for :search_bar do %>
  <%= render "layouts/search" %>
<% end %>
<!-- popular -->
<div class="container-fluid">
  <div class="tours popular-tour">
    <div class="container">
      <h2>Popular Tours</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae eos beatae accusantium. Quia delectus error mollitia, expedita totam quo.</p>
      <div class="row">
        <div class="col-md-4">
          <div class="tour">
            <%= link_to "#" do %>
              <%= image_tag "tour-1.jpg", class: "img-responsive" %>
            <% end %>
            <span class="rating">Rating: 5.0</span>
            <h3 class="tour-name"><%= link_to "Tour Name", "#" %></h3>
            <p class="short-descrip">
              Lorem ipsum dolor sit amet, consectetur ...
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tour">
            <%= link_to "#" do %>
              <%= image_tag "tour-2.jpg", class: "img-responsive" %>
            <% end %>
            <span class="rating">Rating: 5.0</span>
            <h3 class="tour-name"><%= link_to "Tour Name", "#" %></h3>
            <p class="short-descrip">
              Lorem ipsum dolor sit amet, consectetur ...
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tour">
            <%= link_to "#" do %>
              <%= image_tag "tour-3.jpg", class: "img-responsive" %>
            <% end %>
            <span class="rating">Rating: 5.0</span>
            <h3 class="tour-name"><%= link_to "Tour Name", "#" %></h3>
            <p class="short-descrip">
              Lorem ipsum dolor sit amet, consectetur ...
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tour">
            <%= link_to "#" do %>
              <%= image_tag "tour-4.jpg", class: "img-responsive" %>
            <% end %>
            <span class="rating">Rating: 5.0</span>
            <h3 class="tour-name"><%= link_to "Tour Name", "#" %></h3>
            <p class="short-descrip">
              Lorem ipsum dolor sit amet, consectetur ...
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tour">
            <%= link_to "#" do %>
              <%= image_tag "tour-5.jpg", class: "img-responsive" %>
            <% end %>
            <span class="rating">Rating: 5.0</span>
            <h3 class="tour-name"><%= link_to "Tour Name", "#" %></h3>
            <p class="short-descrip">
              Lorem ipsum dolor sit amet, consectetur ...
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tour">
            <%= link_to "#" do %>
              <%= image_tag "tour-6.jpg", class: "img-responsive" %>
            <% end %>
            <span class="rating">Rating: 5.0</span>
            <h3 class="tour-name"><%= link_to "Tour Name", "#" %></h3>
            <p class="short-descrip">
              Lorem ipsum dolor sit amet, consectetur ...
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <a href="#">See more ...</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- newest -->
<div class="container-fluid">
  <div class="tours popular-tour">
    <div class="container">
      <h2>Newest Tours</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae eos beatae accusantium. Quia delectus error mollitia, expedita totam quo.</p>
      <div class="row">
        <div class="col-md-4">
          <div class="tour">
            <%= link_to "#" do %>
              <%= image_tag "tour-1.jpg", class: "img-responsive" %>
            <% end %>
            <span class="rating">Rating: 5.0</span>
            <h3 class="tour-name"><%= link_to "Tour Name", "#" %></h3>
            <p class="short-descrip">
              Lorem ipsum dolor sit amet, consectetur ...
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tour">
            <%= link_to "#" do %>
              <%= image_tag "tour-2.jpg", class: "img-responsive" %>
            <% end %>
            <span class="rating">Rating: 5.0</span>
            <h3 class="tour-name"><%= link_to "Tour Name", "#" %></h3>
            <p class="short-descrip">
              Lorem ipsum dolor sit amet, consectetur ...
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tour">
            <%= link_to "#" do %>
              <%= image_tag "tour-3.jpg", class: "img-responsive" %>
            <% end %>
            <span class="rating">Rating: 5.0</span>
            <h3 class="tour-name"><%= link_to "Tour Name", "#" %></h3>
            <p class="short-descrip">
              Lorem ipsum dolor sit amet, consectetur ...
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tour">
            <%= link_to "#" do %>
              <%= image_tag "tour-4.jpg", class: "img-responsive" %>
            <% end %>
            <span class="rating">Rating: 5.0</span>
            <h3 class="tour-name"><%= link_to "Tour Name", "#" %></h3>
            <p class="short-descrip">
              Lorem ipsum dolor sit amet, consectetur ...
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tour">
            <%= link_to "#" do %>
              <%= image_tag "tour-5.jpg", class: "img-responsive" %>
            <% end %>
            <span class="rating">Rating: 5.0</span>
            <h3 class="tour-name"><%= link_to "Tour Name", "#" %></h3>
            <p class="short-descrip">
              Lorem ipsum dolor sit amet, consectetur ...
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tour">
            <%= link_to "#" do %>
              <%= image_tag "tour-6.jpg", class: "img-responsive" %>
            <% end %>
            <span class="rating">Rating: 5.0</span>
            <h3 class="tour-name"><%= link_to "Tour Name", "#" %></h3>
            <p class="short-descrip">
              Lorem ipsum dolor sit amet, consectetur ...
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <a href="#">See more ...</a>
        </div>
      </div>
    </div>
  </div>
</div>
